.link {
    color: #ffffff;
    text-decoration: none;
}

.link:hover {
    color: #ffffff;
    text-decoration: none;
}

.center {
    border-radius: 25px;
    border: 2px solid #959791;
    padding: 20px; 
    width: 300px;
    height: auto;  
    margin: 10px auto;
}